

.wrapper {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  width: 100%;
  max-width: 600px;
  padding: var(--space-5);

  background: var(--color-surface);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);

  backdrop-filter: blur(10px);
  box-shadow: var(--shadow-soft);
}

.title {
  text-align: center;
  margin-bottom: var(--space-4);
  color: var(--color-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 0.9rem;
  color: var(--color-text-muted);
}

/*INPUT WITH ICON */
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper input {
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  background: rgba(255, 255, 255, 0.05);
  color: white;
}

.inputWrapper span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/*STRENGTH BAR */
.strength {
  margin-top: -5px;
}

.bar {
  height: 6px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.weak {
  width: 33%;
  background: #ff4d4f;
}

.medium {
  width: 66%;
  background: #faad14;
}

.strong {
  width: 100%;
  background: #52c41a;
}

/*RULES */
.rules {
  font-size: 0.85rem;
  color: var(--color-text-muted);
}

.rules ul {
  padding-left: 18px;
}

.valid {
  color: #52c41a;
}

/*BUTTON */
.submitBtn {
  margin-top: 10px;
  padding: 10px;
  border-radius: var(--radius-sm);
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

.submitBtn:disabled {
  opacity: 0.6;
}

/*MESSAGE */
.message {
  text-align: center;
  color: var(--color-text-muted);
}

/*SPINNER */
.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255,255,255,0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:700px){
  .card {
  width: 80%;
  max-width: 600px;
  padding: var(--space-5);

  background: var(--color-surface);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);

  backdrop-filter: blur(10px);
  box-shadow: var(--shadow-soft);
}

}